body {
  box-sizing: border-box;
  margin: 0; /* reset browser default margins */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.logo {
  display: block;
  width: 40px;
  height: 40px;
}

.nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  margin-left: 20px;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 60px;
  /* absolutely positioned elements are positioning themselves against the */
  /* first not-static-positioned-ancestor, and if there is none, they */
  /* position against html ... */
  /* adding 'relative' position here makes sure that children (underline) */
  /* positions agains its direct parent (nav__link), which is desired */
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.nav__link.is-active {
  color: #00acdc;
}

.nav__link.is-active::after {
  content: "";
  height: 4px;
  background-color: #00acdc;
  /* important: make sure that direct parent (nav__link) uses 'relative' pos. */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__item:first-child {
  margin-left: 0;
}
